/* || font-family: */
/* Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600 */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* || BREAK POINTS */
/* 
Mobile: 375px
Desktop: 1440px
 */

/* 
TODO: Challennge goals:

1. FIXME: Desktop view Design
2. FIXME: Mobile view Design ( View the optimal layout depending on their device's screen size)
3. FIXME: See hover and focus states for interactive elements
*/

:root {
  /*Colors*/
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --mainBG: hsl(217, 54%, 11%);
  --cardBG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
  /*fonts*/
  --outfit: "Outfit", sans-serif;
}

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: var(--White);
}
body {
  background-color: var(--mainBG);
  font-family: var(--outfit);
  display: grid;
  place-content: center;
  min-height: 100vh;
}
.container {
  border-radius: 1rem;
}
main {
  background-color: var(--cardBG);
  padding: 1rem;
  /* FIXME: || convert px to rem */
  margin: auto;
  width: 360px;
}
.container.img {
  display: grid;
  place-content: center;
}
.product-img {
  border-radius: 0.5rem;
  height: 345px;
  width: 335px;
  margin: auto;
}
.img-overlay {
  border-radius: 0.5rem;
  margin-top: -345px;
  height: 345px;
  width: 335px;
  opacity: 0;
  background-image: url("./images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.img-overlay:hover {
  background-color: var(--Cyan);
  opacity: 0.65;
}
h1 {
  display: inline-block;
  margin: 1rem 0;
}
.balance {
  display: flex;
  margin: 1rem 0;
}
.eth-img-bal {
  display: flex;
  align-items: center;
  margin-right: auto;
  color: var(--Cyan);
}
.days-left {
  display: flex;
  align-items: center;
}
.svg-images {
  margin-right: 0.3rem;
}
hr {
  border: 1px solid var(--line);
}
.footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.avatar {
  width: 2rem;
  margin-right: 1rem;
}
.avatar-img {
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
}
.text-dark {
  color: var(--softblue);
}
.focus-items:hover {
  cursor: pointer;
  color: var(--Cyan);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 0.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 376px) {
  main {
    /* FIXME: || convert px to rem */
    width: 325px;
    margin: auto;
  }
  .product-img {
    height: 340px;
    width: 295.5px;
  }
  .img-overlay {
    margin-top: -340px;
    height: 340px;
    width: 295.5px;
  }
}
